body {
    background-color: #fafafa;
    margin: 0;
}

body.dark {
    background: #292C35;
}

#navbar {
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.checkbox-mode {
    opacity: 0;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
    margin-top: -20px;
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

#weather-container {
    max-width: 800px;
    padding: 20px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 50px;
}

#submit-button {
    display: none;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 20px;
}

#city {
    color: #6c7083;
    background: 0;
    border: 0;
    outline: none;
    width: 80vw;
    max-width: 400px;
    font-size: 1.5em;
    transition: padding 0.3s 0.2s ease;
}

#city:focus {
    padding-bottom: 5px;
}

#city:focus + .line:after {
    transform: scaleX(1);
}

.field {
    position: relative;
}

.field .line {
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -8px;
    background: #bdc3c7;
}

.field .line:after {
    content: " ";
    position: absolute;
    float: right;
    width: 100%;
    height: 3px;
    transform: scalex(0);
    transition: transform 0.3s ease;
    background: #bfcbf4;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-right {
    display: flex;
    justify-content: end;
}

.container-left {
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.card {
    background-size: cover;
    background-position: center;
    max-width: 600px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 4px #535353;
    border: none;
    padding: 30px;
    margin: 0 auto;
    margin-top: 50px;
    display: none !important;
}

.right {
    text-align: right;
}

.time-font {
    font-size: 50px;
    color: white;
    line-height: 10px;
}

.sm-font {
    font-size: 18px;
    color: white;
}

.med-font {
    font-size: 28px;
    color: white;
}

.large-font {
    font-size: 60px;
    color: white;
    line-height: 20px;
}

.day-font {
    color: white;
}

.city {
    color: white;
    line-height: 80px;
}

.sunny {
    background-image: url("assets/sunshine.jpg");
}

.sunny-cloud {
    background-image: url("assets/sunny_clouds.jpg");
}

.cloudy {
    background-image: url("assets/cloudy.jpg");
}

.rainy {
    background-image: url("assets/rain.jpg");
}

.rainy-day {
    background-image: url("assets/rain_day.jpg");
}

.thunderstorm {
    background-image: url("assets/thunder.jpg");
}

.snowy {
    background-image: url("assets/snow.jpg");
}

.foggy {
    background-image: url("assets/fog.jpg");
}

.moon {
    background-image: url("assets/moon.jpg");
}

.night-cloud {
    background-image: url("assets/cloudy_night.jpg");
}

.rainy-night {
    background-image: url("assets/rain_night.jpg");
}

@media screen and (max-width: 500px) {
    .large-font {
        font-size: 40px;
    }
}


